{% extends "base_user.html" %}
{% load static %}
{% block page_title %}Spooky Scav{% endblock page_title %}
{% block js_functions %}
{% if rand == 1 %}
    <meta http-equiv="Refresh" content="0; url='https://www.youtube.com/watch?v=xvFZjo5PgG0'" />
{% endif %}
<link rel='stylesheet' type='text/css' href="{% static 'jquery-ui/jquery-ui.min.css' %}" />
<script type='text/javascript' src="{% static 'jquery/dist/jquery.js' %}"></script>
<script type='text/javascript' src="{% static 'moment.js' %}"></script>
<script type='text/javascript' src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
<script type='text/javascript' src="{% static 'fullcalendar.js' %}"></script>
{% endblock js_functions %}
{% block active %}
    <div class="text-white text-center flex flex-col space-y-3 mx-auto container w-50% m-5 inline-block ">
        <img src="/static/logolite.png"  style="margin:auto; height:75vmin; width:75vmin;" alt="Scav logo">
        <div>
            <div class="mx-auto max-w-4xl">
                {% if scavenger_enabled %}
                    <a href="{% url 'scavenger_index' %}"
                    class="bg-main dark:bg-main-night rounded-lg p-2 inline-block m-2 nosifer-regular text-4xl">Scav</a>
                {% elif scavenger_disabled %}
                    <a class="bg-red-600 dark:bg-red-600 rounded-lg p-2 inline-block m-2">Scav Disabled</a>
                {% else %}
                    <a class="bg-red-600 dark:bg-red-600 rounded-lg p-2 inline-block m-2">No Scav Team</a>
                {% endif %}
                
                {% if link_discord %}
                    <a href="{% url 'discord_register' %}"
                    class="bg-main dark:bg-main-night rounded-lg p-2 inline-block m-2">Link Discord</a>
                {% endif %}
                {% if request.user.is_staff %}
                    <a href="{% url 'manage_index' %}"
                    class="bg-main dark:bg-main-night rounded-lg p-2 inline-block m-2">Management</a>
                {% endif %}
                {% if perms.common_models.view_discord_nicks %}
                    <a href="{% url 'manage_discord_nicks' %}"
                    class="bg-main dark:bg-main-night rounded-lg p-2 inline-block m-2">Unlink Discord Users</a>
                {% endif %}
            </div>
            <br>
        </div>
        <style>
            :root {
                --fc-page-bg-color: #8305c8;
            }
            .fc-timeGridWeek-view{
                min-width: 650px;
            }
            .fc-event:hover {
                z-index: 999 !important;
                width: 250%;
                height: 200%;
                min-width: 100px;
                max-width: 250px;
            }
            .fc-timegrid-event-harness:hover {
                z-index: 999 !important;
            }
            .fc-timegrid-col-frame:hover{
                z-index: 999 !important;
            }
            #calendar {
                overflow-x: scroll;
            }
        </style>
       
    </div>
{% endblock active %}
